* {
  font-family: "Lato", sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8ea;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* navbar */
#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar a.active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
@media (min-width: 768px) {
  #navbar {
    padding-left: 4em;
  }
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 5em;
  }
}

/* FORM */

#container-form {
  display: flex;
  margin-top: 8em;
  padding: 0 10px;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: "";
  position: absolute;
  bottom: 2em;
}

button:hover {
  background-color: #7a7a7a;
}

/*footer*/
#footer {
  padding: 3em 2em;
  margin-top: 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/*bottom*/
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
  margin-left: 0.3em;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #links-container {
    padding-left: 2em;
  }
  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }
  #container-form {
    display: flex;
    margin-top: 8em;
    padding: 2em 10em;
  }
}
